name: ci

on: [push, pull_request]

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        go: ["^1.16.0"]
        os: [ubuntu-latest, macOS-latest, windows-latest]
    name: Go ${{ matrix.go }} in ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}

      - uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - name: Environment
        run: |
          go version
          go env
          node -v
          npm -v
          yarn --version

      - name: Install
        working-directory: web
        run: yarn

      - name: Build web
        working-directory: web
        run: npm run build

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.37.0
          args: -v
          skip-go-installation: true

      - name: Format
        run: make format-check

      - name: Test
        run: |
          make test
          go mod tidy
          git checkout ./

      - name: Build
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist --skip-publish

  release:
    name: Release to Github
    if: startsWith(github.ref, 'refs/tags/') && github.repository == 'axetroy/watchdog'
    needs: [ci]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Release to Github
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist --release-notes=./release.md
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - uses: axetroy/setup-whatchanged@v1
        with:
          version: v0.3.5

      - name: Generate release.md
        run: |
          whatchanged --tpl=release.tpl --output=release.md
          cat release.md

      - name: Prepare publish
        env:
          GITHUB_REF: ${{ github.ref }}
        run: |
          cp README.md ./npm/README.md
          cp release.md ./npm/CHANGELOG.md
          cp LICENSE ./npm/LICENSE
          node ./npm/scripts/bump.js

      - name: Publish to NPM
        uses: JS-DevTools/npm-publish@v1
        with:
          package: ./npm/package.json
          token: ${{ secrets.NPM_TOKEN }}
